<mat-card>
  <form (submit)="addEvent(postForm)" #postForm="ngForm">
          <input
          type="hidden"
          name="_id"
          #_id="ngModel"
          [(ngModel)] = "postsService.selectedEvent._id">

      <mat-form-field>
          <input
          matInput
          type="text"
          name="name"
          [(ngModel)] = "postsService.selectedEvent.name"
          required
          minlength="3"
          placeholder="Nombre del evento"
          #tittle="ngModel">
          <mat-error *ngIf="tittle.invalid">Por favor entre un nombre para el evento</mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea
          matInput
          type="text"
          name="altitud"
          [(ngModel)] = "postsService.selectedEvent.altitud"
          required
          placeholder="Altitud del evento"
          #content = "ngModel"></textarea>
          <mat-error *ngIf="content.invalid">Por favor ingrese la altitud del evento</mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea
          matInput
          type="text"
          name="latitud"
          [(ngModel)] = "postsService.selectedEvent.latitud"
          required
          placeholder="Latitud del evento"
          #content = "ngModel"></textarea>
          <mat-error *ngIf="content.invalid">Por favor ingrese la latitud del evento</mat-error>
        </mat-form-field>
        <button
          mat-raised-button
          color = "accent"
          type="submit">Save post</button>
  </form>
</mat-card>
<p></p>
<mat-accordion multi="true" *ngIf="postsService.posts.length > 0">
  <mat-expansion-panel *ngFor="let post of postsService.posts">
    <mat-expansion-panel-header>
      Evento: {{ post.name }}
    </mat-expansion-panel-header>
    <p>Altitud: {{ post.altitud }}</p>
    <p>Latitud: {{ post.latitud }}</p>
    <mat-action-row>
      <button mat-button
      (click)="editEvent(post)"
      color="primary">Edit</button>
      <button mat-button
      (click)="deleteEvent(post._id)"
      color="warn">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf = "postsService.posts.length <= 0"> No posts added yet</p>
