<mat-accordion multi="true" *ngIf="postsService.posts.length > 0">
  <mat-expansion-panel *ngFor="let posts of postsService.posts">
    <mat-expansion-panel-header>
      Evento: {{ posts.name }}
    </mat-expansion-panel-header>
    <p>Altitud: {{ posts.altitud }}</p>
    <p>Latitud: {{ posts.latitud }}</p>
    <mat-action-row>
      <button
      (click) = "editEvent(posts)"
      mat-button color="primary">Edit</button>
      <button
      (click)= "deleteEvent(posts._id)"
      mat-button color="warn">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf = "postsService.posts.length <= 0"> No posts added yet</p>
